
//sections
section{
  padding:$baseline*3 0;
  &.page-header-section{
    background-size:cover;
    background-position:center center;
    padding:$baseline*4 0;
    h1{
      text-shadow:0 1px 13px rgba(0,0,0,.3);
    }
  }
  &.inverse-section{
  	@extend %white_text;
    a{
      color:white;
      text-decoration:underline;
    }
  }
  &.gradient-section{
    // background:red;
    @include linear-gradient(-45deg, #09C4A0 0%, #2EB0D7 100%);
  }
  &.bg-cover{
    background:cenrer no-repeat 100%;
    background-size:cover;
    background-position:center center;
  }
  &.off-white-bg{
    background:#F8FCFF;
  }
  &.bordered-section{
    border-bottom:1px solid #ECF0F5;
  }
  @include breakpoint(sm) {
    padding:$baseline 0;
  }
}
