%footer.primary-footer
  %section
    .container
      .row
        .col-sm-6
          %ul.link-list
            %li
              %img{:src=>"../images/footer-logo.png", :width=>"210px"}

        .col-sm-6
          %ul.link-list.pull-right.support-list
            %li
              Powered by
              %a{:href=>"evercheck.com", :style=>"padding:0px;"}
                evercheck.com
