%nav.navbar.navbar-default.navbar-fixed-top.global-nav
	.container.half-padding-bottom
		.navbar-header
			%a.navbar-brand{:href=>"/"}
				%img.hidden-xs{:src=>"../images/logo.png", :width=>"262"}
				%img.visible-xs{:src=>"../images/mobile-logo.png", :style=>"padding-top:12px;"}
			.visible-xs
				.pull-right
					%button.tcon.tcon-menu--xcross.menu-button{"aria-label" => "toggle menu", :type => "button", "aria-expanded" => "false", "data-target" => "#collapse-menu", "data-toggle" => "collapse"}
						%span.tcon-menu__lines{"aria-hidden" => "true"}
						%span.tcon-visuallyhidden
							toggle menu
		.hidden-xs
			.desktop-nav
				.navbar-right
					%ul.nav.navbar-nav
						%li
							%a{:href=>"#"}
								Help
						%li
							%a{:href=>"#"}
								Sign in
						%li
							.btn-group
								%a.btn.btn-primary.btn-header.dropdown-toggle{:href => "#", "data-toggle"=>"dropdown"}
									Download the app
								%ul.dropdown-menu.app-dd
									%li.text-center
										%a{:href=>"#"}
											%img.max-width.margin-auto{:src=>"../images/app_store.png"}
									%li.text-center
										%a{:href=>"#"}
											%img.max-width.margin-auto{:src=>"../images/google_play.png"}
							


	.visible-xs
		#collapse-menu.collapse.navbar-collapse.mobile-nav
			%ul.nav.navbar-nav
				%li
					%a{:href=>"#"}
						Help
				%li
					%a{:href=>"#"}
						Sign in
				%li.text-center
					%a{:href=>"#"}
						%img.max-width.margin-auto{:src=>"../images/app_store.png"}
				%li.text-center
					%a{:href=>"#"}
						%img.max-width.margin-auto{:src=>"../images/google_play.png"}
