%nav.navbar.navbar-default.navbar-fixed-top.global-nav
	.container.half-padding-bottom
		.navbar-header
			%a.navbar-brand{:href=>"/"}
				%img.hidden-xs{:src=>"../images/logo.png", :width=>"262"}
				%img.visible-xs{:src=>"../images/mobile-logo.png", :style=>"padding-top:12px;"}
			.visible-xs
				.pull-right
					%button.tcon.tcon-menu--xcross.menu-button{"aria-label" => "toggle menu", :type => "button", "aria-expanded" => "false", "data-target" => "#collapse-menu", "data-toggle" => "collapse"}
						%span.tcon-menu__lines{"aria-hidden" => "true"}
						%span.tcon-visuallyhidden
							toggle menu
		.hidden-xs
			.desktop-nav
				.navbar-right
					%ul.nav.navbar-nav
						%li
							%a{:href=>"http://support.evercheckwallet.com"}
								Help
						%li
							%a{:href=>"#"}
								Sign in
						%li
							%a.btn.btn-primary.btn-header.dropdown-toggle{:href => "#", "data-toggle"=>"dropdown"}
								Get wallet
							=partial("shared/app-dropdown")
							

							


	.visible-xs
		#collapse-menu.collapse.navbar-collapse.mobile-nav
			%ul.nav.navbar-nav
				%li
					%a{:href=>"http://support.evercheck-wallet.com/"}
						Help
				%li
					%a{:href=>"#"}
						Sign in
				%li
					%a.btn.btn-primary.btn-header.dropdown-toggle{:href => "#", "data-toggle"=>"dropdown"}
						Get wallet
					=partial("shared/app-dropdown")
