
%ul.dropdown-menu.app-dd.select-dd-inner
	%li.employee-select
		%a{:href=>"#", "data-toggle"=>"modal", "data-target"=>"#employeeModal"}
			I'm an employee
	%li.applicant-select
		%a{:href=>"#", "data-toggle"=>"modal", "data-target"=>"#applicantModal"}
			I'm an applicant