%section.bordered-section{:style=>"background:white; position:relative;"}
	.container
		.row
			.col-md-5
				.double-margin-top
					%img.max-width.margin-bottom{:src=>"../images/hero-badge.png", :width=>"146px"}
					%h1
						Your healthcare credentials. 
					%p
						Digitized, verified, and submitted automatically. 
					%a.btn.btn-primary{:href=>"#"}
						Get wallet
					
			.col-md-7
				%img.max-width.margin-bottom.pull-right{:src=>"../images/hero-phone.gif", :width=>"520px"}
%section.off-white-bg.bordered-section{:style=>"position:relative;"}
	.container
		.row.margin-bottom.margin-top
			.col-lg-12.text-center
				%h5.text-center
					How it works
				%img.max-width.margin-auto{:src=>"../images/how-it-workd-divider.png"}
		.row
			.col-md-5.col-md-push-7
				.margin-top
					%img.max-width.margin-bottom{:src=>"../images/text-header-link.png", :width=>"60px"}
					%h1
						Get a custom link
					%p
						Once your employer grants access, you’ll create your account using a custom link. 
			.col-md-7.col-md-pull-5
				%img.max-width{:src=>"../images/card-pop.gif", :width=>"485px"}


%section.bordered-section{:style=>"position:relative;"}
	.container
		.row
			.col-md-5
				.double-margin-top
					%img.max-width.margin-bottom{:src=>"../images/text-header-upload.png", :width=>"60px"}
					%h1
						Upload your credentials
					%p
						Snap a photo and upload your credentials, or simply enter your e-card number.
			.col-md-7
				%img.max-width.margin-auto.flex{:src=>"../images/upload-creds.png", :width=>"767px"}
				


%section.off-white-bg.bordered-section{:style=>"position:relative;"}
	.container
		.row
			.col-md-5.col-md-push-7
				.double-margin-top
					%img.max-width.margin-bottom{:src=>"../images/text-header-confirm.png", :width=>"60px"}
					%h1
						Confirm the details
					%p
						Verify that details like your name and the expiration date are correct.
			.col-md-7.col-md-pull-5
				%img.max-width{:src=>"../images/verify.png", :width=>"431px"}


%section.bordered-section.no-padding-bottom{:style=>"position:relative;"}
	.container
		.row
			.col-md-5
				.double-margin-top
					%img.max-width.margin-bottom{:src=>"../images/text-header-send.png", :width=>"60px"}
					%h1
						Send it off
					%p
						Once wallet verifies your credential, we'll send the details to your employer automatically.
			.col-md-7
				%img.max-width.pull-right.double-margin-right{:src=>"../images/send.png", :width=>"324px"}



%section.off-white-bg.bordered-section{:style=>"position:relative;"}
	.container
		.row
			.col-md-5.col-md-push-7
				.double-margin-top
					%img.max-width.margin-bottom{:src=>"../images/text-header-hand.png", :width=>"60px"}
					%h1
						Keep it on hand
					%p
						Come back to wallet to access and update your credentials any time. 
			.col-md-7.col-md-pull-5
				%img.max-width.double-margin-left{:src=>"../images/hand.png", :width=>"346px"}


%section.bordered-section{:style=>"position:relative;"}
	.container
		.row
			.col-md-5
				.double-margin-top
					%img.max-width.margin-bottom{:src=>"../images/text-header-reminders.png", :width=>"60px"}
					%h1
						Get reminders
					%p
						Stay current with your renewals with reminders from EverCheck Wallet.
			.col-md-7
				%img.max-width.margin-auto.flex{:src=>"../images/reminders.png", :width=>"376px"}

